<body>
    <main class="main-wrap page-template">
        <div class="">
            {% for event in DataSet1 %}
                <section class="headline-wrap">
                    <h1 class="headline centered no-m">
                        {{event.Event_Title}}
                    </h1>
                </section>
                <section class="eventDetailsContainer">
                    <div class="eventImage" style="background-image: url('{{event.Image}}');"></div>
                    <div class="eventDetails">
                        <div>
                            <h6 class="centered">
                                Event Details
                            </h6>
                            {% if event.Location_Name %}
                            <div class="locationContainer">
                                <div class="locationName">{{event.Location_Name}}</div>
                                <div class="locationAddress">{{event.Location_Address}}</div>   
                            </div>
                            {% endif %}
                            {% if event.Event_Start_Date %}
                            <div class="dateContainer">
                                {{event.Event_Start_Date | in_time_zone: 'America/Detroit' | date: '%B %e, %Y  (%-I:%M %P)' }} {% if event.Event_End_Date %} - {{event.Event_End_Date | in_time_zone: 'America/Detroit' | date: '%B %e, %Y  (%-I:%M %P)'}} {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {% if event.User_Registration_Product_Option %}
                        <div class="registrationDetailsContainter">
                            <h6>My Registration Details</h6>
                            {% if event.User_Registration_Product_Option %}<div>{{event.User_Registration_Product_Option}}</div>{% endif %}
                            {% if DataSet1.0.User_Rooming_Assignment %}<div>{{DataSet1.0.User_Rooming_Assignment}}{% if DataSet3.0.Name %}: {% for roommate in DataSet3 %} {{roommate.Name}} {% endfor %}{% endif %}</div>{% endif %}
                            <div>{{event.User_Registration_Amount_Paid}} paid on {{event.User_Registration_Payment_Date | in_time_zone: "America/Detroit" | date: '%B %e, %Y at %-I:%M %P'}}</div>
                        </div>
                        {% endif %}
                    </div>
                </section>
                {% if DataSet2.0.First_Name %}
                <section class="whosComing">
                    <h3>Who's Coming?</h3>
                    <div class="peopleContainer">
                    {% for person in DataSet2 %}
                        <div class="person">{{person.First_Name}} {{person.Last_Intitial}}</div>
                    {% endfor %}
                    </div>
                    <div style="position: relative;">
                        <input type="checkbox" id="toggleExtraPeople" name="toggleExtraPeople" value="toggleExtraPeople">
                        <div>
                            <label id="viewAll">View All</label>
                            <label id="viewLess">View Less</label>
                        </div>
                    </div>
                </section>
                {% endif %}
                <section class="btnContainer">
                    <a href="https://woodsidebible.org/events/details/?id={{event.Event_ID}}" class="btn primary">View Event</a>
                    <a href="mailto:{{event.Contact_Email}}" class="btn border">Contact</a>
                </section>
            {% endfor %}
        </div>
    </main>
</body>
