.default-page * {
    margin: 0 0 1em 0;
}

.headline-wrap {
    margin-bottom: 5em;
}

.main-wrap {
    max-width: 1520px;
    width: 90%; 
    margin: auto;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}

.ws-section {
    margin-top: 5em;
}

.eventDetailsContainer, .btnContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
}

.eventDetailsContainer > div {
    flex: 1;
    min-height: 250px;
    max-width: 500px;
}

.eventDetails, .eventDetails h3 {
    margin: 0;
}

h1 {
    text-transform: lowercase;
    font-size: 2.5em !important;
}


h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
    text-transform: lowercase;
}

.eventDetailsContainer > .inner-wrap > div {
    font-size: 1.25em;
}

.eventImage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.eventDetailsContainer > .inner-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.roommateContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}



.peopleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-size: 1.15em;
    padding-top: 1em;
    position: relative;
    max-height: 140px;
    overflow: hidden;
}

.peopleContainer:before {
  content:'';
  width: 100%;
  height: 100%;    
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom, transparent 100px, white);
}

.peopleContainer:has(+ div > #toggleExtraPeople:checked) {
    overflow: unset;
    max-height: unset;
}

.peopleContainer:has(+ div > #toggleExtraPeople:checked):before {
    background-image: unset;
}

#toggleExtraPeople {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}


#viewLess {
    display: none;
}

#toggleExtraPeople + div {
    background-color: #efeff0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggleExtraPeople:checked + div > #viewAll  {
    display: none;
}

#toggleExtraPeople:checked + div > #viewLess  {
    display: block;
}

#toggleExtraPeople + div > label {
    margin: 0;
    /*! color: white; */
}

.btnContainer {
    margin: 4em auto;
}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.65em !important;
    }

    h3 {
        font-size: 1.45em;
    }
    
    .eventDetailsContainer > .inner-wrap > div, .peopleContainer {
        font-size: 1.1em;
    }

    .eventDetailsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventImage {
        height: 50.625vw;
        width: 100%;
        max-width: 100% !important;
        flex: none !important;
    }

    .eventDetailsContainer > .inner-wrap {
        gap: 15px;
        min-height: 0px;
        max-width: 900px;
        width: 100%;
    }
    
    .btnContainer {
        gap: 5%;
    }
}
  

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.25em;
    }
    
    .eventDetailsContainer > .inner-wrap > div, .peopleContainer {
        font-size: .9em;
    }
}
