@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');
@font-face {font-family: 'ProximaNova-Regular';src: url('../webfonts/23533C_8_0.eot');src: url('../webfonts/23533C_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/23533C_8_0.woff') format('woff'),url('../webfonts/23533C_8_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Bold';src: url('../webfonts/23533C_A_0.eot');src: url('../webfonts/23533C_A_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/23533C_A_0.woff') format('woff'),url('../webfonts/23533C_A_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Semibold';src: url('../webfonts/30622B_2_0.eot');src: url('../webfonts/30622B_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/30622B_2_0.woff2') format('woff2'),url('../webfonts/30622B_2_0.woff') format('woff'),url('../webfonts/30622B_2_0.ttf') format('truetype');}

:host {
	--wbc-green: #62BB46;
	--wbc-blue: #1C2B39;
    --innerPage-primaryColor: var(--wbc-green);
    --innerPage-h3color: var(--wbc-blue);
    --innerPage-buttonHoverBgColor: var(--wbc-blue);
    --innerPage-buttonActiveBgColor: var(--wbc-blue);
    --innerPage-progressBarColor: var(--wbc-green);
    --innerPage-progressBarCompleteColor: var(--wbc-green);
    --innerPage-linkColor: var(--wbc-green);
    --innerPage-linkHoverColor: var(--wbc-blue);
    --innerPage-linkActiveColor: var(--wbc-blue);
    --primary: var(--wbc-green);
    --form-btn-primary-bgcolor: var(--wbc-green);
    --form-btn-primary-hover: var(--wbc-blue);
    --form-btn-primary-active: var(--wbc-blue);
    --form-field-border--active: var(--wbc-blue);
}

* {
	font-family: 'ProximaNova-Semibold', Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.mpp-innerpage--contacts-wrapper h3 {
	margin-bottom: 25px;
}

.mppw-btn {
	min-width: 200px;
	padding: 15px 10px;
	margin: 0;
	margin-top: 25px;
	border-radius: 0;
	box-shadow: none;
}

#totalGivingValue, .show-more-button {
	color: var(--innerPage-primaryColor);
}

#myGivingWrapper {
	text-align: center;
    color: var(--wbc-blue);
}