* {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
}

#kpiWidgetErrorMessage {
  text-align: center;
}

#myChart {
  height: 100% !important;
  width: 100% !important;
}
