.sectionHeading,
.filterContainer {
  display: none !important;
}

.groups,
.groupFinderContainer {
  padding: 0 !important;
  margin: 0 !important;
}

#groupFinder {
  margin: 0.5em 0 !important;
}

:root {
  font-size: 0.4rem;
}
