.sectionHeading,
.filterContainer {
  display: none !important;
}

.groups,
.groupFinderContainer {
  padding: 0 !important;
  margin: 0 !important;
}

#groupFinder {
  margin: 0.5em 0 !important;
}

:root {
  font-size: 0.75em;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
