<head>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script data-search-pseudo-elements defer src="//use.fontawesome.com/releases/v5.0.7/css/all.css"></script>
  </head>
  
  <body>
    <dialog id="myModal" onclick="togglePopup()" style="display: none;" class="modalContentContainer">
      <div class="modalContent">
        <span class="close">&times;</span>
        <h1 class="headline">Why Life Groups?</h1>
        <div class="img"></div>
        <p class="blurb">God created us for community, to know and be known by others. In Life Groups at Woodside, we pursue a relationship with Him, build meaningful connections with others, and join hands to love and serve our communities. Life Groups go deeper than a conversation in the lobby. Here, we do life together.</p>  
        <div class="btnContainer"><a href="#groupFinder" class="btn">Find a Group</a></div>
      </div>
    </dialog>
    <div class="groupWidgetContainer">
      <header class="sectionHeading fullWidthBackground">
        <a onclick="togglePopup()" class="titleHeadingContainer">
          <h1>
            <span>Life Groups</span>
            <span class="iconContainer"><i class="fas fa-info-circle"></i></span>
          </h1>
        </a>
      </header>
  
  
      <mpp-custom-form formguid="4450eb4b-7964-41d4-adf4-0d9adb39dd2d"></mpp-custom-form>
  
      <section class="upcomingMeetingsContainer">
        <h3>
          Upcoming
        </h3>
        <div class="upcomingMeetings carousel">
          <div class="upcomingMeeting">
            <span>Wednesday 8/14/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Thursday 8/15/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">5:00 PM - 6:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">6600 Rochester Rd<br>Troy, MI 48085</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Wednesday 8/21/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Wednesday 8/28/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Wednesday 9/4/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Wednesday 9/11/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Wednesday 9/18/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Thursday 9/19/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">5:00 PM - 6:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">6600 Rochester Rd<br>Troy, MI 48085</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
          <div class="upcomingMeeting">
            <span>Wednesday 9/25/2024</span>
            <div class="meetingDetailsContainer">
              <div class="meetingDetails">
                <div class="iconContainer"><i class="fas fa-clock clock"></i></div>
                <span class="time">6:00 PM - 8:30 PM</span>
                <div class="iconContainer"><i class="fas fa-map-marker-alt pin"></i></div>
                <span class="address">3001 Weidemann Dr<br>Clarkston, MI 48348</span>
              </div>
              <a class="btn" href="">View Group</a>
            </div>
          </div>
        </div>
        <div class="secondaryNav">
          <a href="" class="secondaryNavBtn">
            <span>My Groups</span>
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </section>
  
      <section>
        <a href="" class="needHelpContainer">
          <span>
            <h4>Need Help Finding a Group?</h4>
            <p>Let us help find the right group for you!</p>
          </span>
          <div class="btnContainer">
            <div class="btn" href="">Need Help?</div>
          </div>
        </a>
      </section>
  
      <section id="groupFinder" class="groupFinderContainer">
        <h3 class="sectionHeading">Find a Group</h3>
        <div class="filterContainer">
          <div class="left">
            <ul class="selectedFilters carousel fadeToBlue">
              <li>
                <a class="filterBtn" href="#groupFinder">
                  <span>Campus: Troy</span>
                  <span class="blur"><i class="fas fa-trash"></i></span>
                </a>
              </li>
              <li>
                <a class="filterBtn" href="#groupFinder">
                  <span>Time of Day: Afternoon</span>
                  <span class="blur"><i class="fas fa-trash"></i></span>
                </a>
              </li>
              <li>
                <a class="filterBtn" href="#groupFinder">
                  <span>Time of Day: Evening</span>
                  <span class="blur"><i class="fas fa-trash"></i></span>
                </a>
              </li>
            </ul>
            <div class="searchContainer">
              <input type="search" id="txtKeyword" class="form-control" placeholder="Search..."> 
            </div>
          </div>
          <button popovertarget="filterMenu" class="right filterIconContainer">
            <i class="fas fa-filter"></i>
          </button>
        </div>
  
        <div popover id="filterMenu">
          <div class="filterMenuTop">
            <h5>Current Filters</h5>
            <ul class="selectedFilters">
              <li>
                <a class="filterBtn" href="#groupFinder">
                  <span>Campus: Troy</span>
                  <span class="blur"><i class="fas fa-trash"></i></span>
                </a>
              </li>
              <li>
                <a class="filterBtn" href="#groupFinder">
                  <span>Time of Day: Afternoon</span>
                  <span class="blur"><i class="fas fa-trash"></i></span>
                </a>
              </li>
              <li>
                <a class="filterBtn" href="#groupFinder">
                  <span>Time of Day: Evening</span>
                  <span class="blur"><i class="fas fa-trash"></i></span>
                </a>
              </li>
            </ul>
          </div>
          <form id="filterForm">
            <div class="autocomplete-container searchContainer">
              <label for="campusFilteredDropdown">Campus</label>
              <input type="text" id="campusFilteredDropdown" placeholder="Eg. Troy" oninput="filterDropdown('campusFilteredDropdown')" onclick="showDropdown('campusFilteredDropdown')">
              <div id="autocomplete-list" class="autocomplete-items"></div>
            </div>
            <div class="searchContainer">
              <label for="dayOfWeek">Day of Week</label>
              <input type="search" id="dayOfWeek" class="form-control" placeholder="Eg. Sunday" autocomplete="off"> 
            </div>
            <div class="searchContainer">
              <label for="leaderName">Leader</label>
              <input type="search" id="leaderName" class="form-control" placeholder="Eg. Chris Brooks" autocomplete="off"> 
            </div>
            <div class="searchContainer">
              <label for="city">City</label>
              <input type="search" id="city" class="form-control" placeholder="City name or zip code"> 
            </div>
          </form>
          
          <div class="searchContainer">
            <label for="txtKeyword">Search</label>
            <input type="search" id="txtKeyword" class="form-control" placeholder="Search..."> 
          </div>
          <button class="closeBtn" popovertarget="filterMenu"></button>
        </div>
        <div class="groups">
          <div class="groupGrid">
            <a class="shareBtn" href="">
              <i class="fas fa-share"></i>
            </a>
            <h4 class="groupTitle">Wednesday Nights in Troy</h4>
            <div class="groupDetailsContainer">
              <h6>Rhythm</h6>
              <div class="groupDetails">
                <div class="iconContainer"><i class="fas fa-calendar"></i></div>
                <div>Every other Wednesday</div>
                <div class="iconContainer"><i class="fas fa-clock"></i></div>
                <div>6:00 PM - 8:00 PM</div>
                <div class="iconContainer"><i class="fas fa-map-marker-alt"></i></div>
                <div>Troy</div>
              </div>
            </div>
            <div class="groupLeadersContainer">
              <h6>Leaders</h6>
              <div class="groupLeaders">
                <div>John Doe, Jane Wright, and Ben White</div>
              </div>
            </div>
            <div class="groupAboutContainer">
              <h6>About Us</h6>
              <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam id labore ipsam autem rem quo ea, laboriosam consequatur veritatis earum ipsum amet eum nesciunt a.</div>
            </div>
            <div class="groupTagsContainer">
              <ul class="groupTags carousel">
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Campus: Troy</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Ministry: Family</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Current Study: Gospels</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Multigenerational</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Multicultural</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Kids Welcome</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Has Food</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Has Dogs</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Has Cats</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="groupSignUpBtn">
              <a class="btn">Sign Up</a>
            </div>
          </div>
          <div class="groupGrid">
            <a class="shareBtn" href="">
              <i class="fas fa-share"></i>
            </a>
            <h4 class="groupTitle">Monday Afternoons in Rochester</h4>
            <div class="groupDetailsContainer">
              <h6>Rhythm</h6>
              <div class="groupDetails">
                <div class="iconContainer"><i class="fas fa-calendar"></i></div>
                <div>Every Monday</div>
                <div class="iconContainer"><i class="fas fa-clock"></i></div>
                <div>12:00 PM - 12:30 PM</div>
                <div class="iconContainer"><i class="fas fa-map-marker-alt"></i></div>
                <div>Rochester</div>
              </div>
            </div>
            <div class="groupLeadersContainer">
              <h6>Leaders</h6>
              <div>Betty Sue, Ernest Smith, and Eve Smith</div>
            </div>
            <div class="groupAboutContainer">
              <h6>About Us</h6>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolor, veritatis nulla cupiditate beatae debitis!</div>
            </div>
            <div class="groupTagsContainer">
              <ul class="groupTags carousel">
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Campus: Troy</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>55+</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="groupSignUpBtn">
              <a class="btn">Sign Up</a>
            </div>
          </div>
          <div class="groupGrid">
            <a class="shareBtn" href="">
              <i class="fas fa-share"></i>
            </a>
            <h4 class="groupTitle">Tuesday Nights in Auburn Hills</h4>
            <div class="groupDetailsContainer">
              <h6>Rhythm</h6>
              <div class="groupDetails">
                <div class="iconContainer"><i class="fas fa-calendar"></i></div>
                <div>Monthly on Tuesdays</div>
                <div class="iconContainer"><i class="fas fa-clock"></i></div>
                <div>5:30 PM - 8:30 PM</div>
                <div class="iconContainer"><i class="fas fa-map-marker-alt"></i></div>
                <div>Auburn Hills</div>
              </div>
            </div>
            <div class="groupLeadersContainer">
              <h6>Leader</h6>
              <div>Don Smith</div>
            </div>
            <div class="groupAboutContainer">
              <h6>About Us</h6>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus numquam repellendus mollitia ex ab corporis facere distinctio eaque explicabo itaque, consequuntur, excepturi amet eum labore. Similique placeat totam facere pariatur nam molestiae molestias voluptate error amet quia asperiores reiciendis nemo, voluptatem hic sequi laboriosam consequatur illum. Ducimus doloribus illum non vero quam ipsam recusandae assumenda, deleniti architecto saepe consectetur.</div>
            </div>
            <div class="groupTagsContainer">
              <ul class="groupTags carousel">
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Campus: Troy</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Ministry: Collective</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Young Adults</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="groupSignUpBtn">
              <a class="btn">Sign Up</a>
            </div>
          </div>
          <div class="groupGrid groupPaused">
            <a class="shareBtn" href="">
              <i class="fas fa-share"></i>
            </a>
            <h4 class="groupTitle">
              Tuesday Nights in Sterling Heights
            </h4>
            <div class="groupDetailsContainer">
              <h6>Rhythm</h6>
              <div class="groupDetails">
                <div class="iconContainer"><i class="fas fa-calendar"></i></div>
                <div>Weely on Tuesdays</div>
                <div class="iconContainer"><i class="fas fa-clock"></i></div>
                <div>7:15 PM - 8:45 PM</div>
                <div class="iconContainer"><i class="fas fa-map-marker-alt"></i></div>
                <div>Sterling Heights</div>
              </div>
            </div>
            <div class="groupLeadersContainer">
              <h6>Leaders</h6>
              <div>Bobby Standish and Darla Standish</div>
            </div>
            <div class="groupAboutContainer">
              <h6>About Us</h6>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, suscipit.</div>
            </div>
            <div class="groupTagsContainer">
              <ul class="groupTags carousel">
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Campus: Troy</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
                <li>
                  <a class="tag" href="#groupFinder">
                    <span>Kids Welcome</span>
                    <span class="blur"><i class="fas fa-plus"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <dialog class="leadGroupContainer">
      <a href="" class="centered">
        <span>Interested in leading a group?</br>Click here!</span>
      </a>
    </dialog>
  </body>