.bannerContainer {
    container: bannerWidget / inline-size;

    * {
        font-family: Montserrat,Helvetica,Arial,sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }

    h4 {
        font-size: calc(1.275rem + .3vw);
    }

    .banner {
        width: 100%;
        background-color: #62BB46;
        background: linear-gradient(165deg, rgb(28, 43, 57) 0%, rgb(28, 43, 57) 50%, rgb(57, 115, 170) 100%);
        border-radius: 0;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 2em;
        outline-offset: -1px;
        outline-color: #1C2B39;
        outline-width: 1px;
        text-decoration: none;
        -webkit-transition: outline-offset 0.25s ease-out, outline-width 0.25s ease-out, outline-color 0.25s ease-out, filter 0.25s ease-out;
        -moz-transition: outline-offset 0.25s ease-out, outline-width 0.25s ease-out, outline-color 0.25s ease-out, filter 0.25s ease-out;
        -o-transition: outline-offset 0.25s ease-out, outline-width 0.25s ease-out, outline-color 0.25s ease-out, filter 0.25s ease-out;
        transition: outline-offset 0.25s ease-out, outline-width 0.25s ease-out, outline-color 0.25s ease-out, filter 0.25s ease-out;

        h4 {
            font-weight: 600;
        }

        .btnContainer {
            display: flex;
            gap: 1em;

            .btn {
                color: #FFFFFF;
                border-radius: 0;
                text-transform: uppercase;
                font-weight: 600;
                padding: 0.5em 2em;
                background-color: #1C2B39;
                background: #62bb46;
                position: relative;
                border: none;
            }
        }
    }

    .banner:hover, .banner:focus, .banner:focus-within, .bannerContainer:focus, .bannerContainer:hover, .bannerContainer:focus-within {
        outline-offset: -10px;
        outline-width: 1px;
        outline-color: #FFFFFF;
        filter: brightness(1.025);
    }
}


@container bannerWidget (width < 900px) {
    .banner {
        flex-direction: column;
        text-align: center;

        .btnContainer {
            flex-direction: column;
            width: 100%;
        }
    }
}
